* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    width: 100%;
    background-color: #42c2f5;
}

nav {
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    display: inline-flex;
    justify-content: space-around;
    padding: 1%;
    position: fixed;
}

header {
    border: 2px solid white;
    height: 40px;
    width: 40px;
    font-size: 2rem;

}


nav a:hover {
    background-color: #555;
}

fieldset {
    border: 5px solid rgb(0, 0, 0);
}

hr {
    border: 5px solid rgb(0, 0, 0);
}

img {
    border: 3px solid black;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;

}


/* home section */
#home {
    width: 100%;
    height: 100vh;
    background-image: url(./img1.jpg);
    background-size: cover;
    background-blend-mode: overlay;
}

.hometext {
    height: 100px;
    width: 30%;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2rem;
}


.containerhome {
    padding: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width:700px) {
    nav{
        display: none;
    }
}
    
@media screen and (max-width:700px) {

    #home {
        width: 100%;
        background-image: url(./img1.jpg);
        height: 60vh;
        background-size: cover;
        background-color: rgb(25, 38, 52);
        animation-name: afeez;
        animation-duration: 10s ;
        animation-iteration-count: infinite;
    }


    .hometext {
        width: 100%;   
        font-size: 1rem;

    }

    .containerhome {
        justify-content: center;
        align-items: center;
    }
    .herotext{
        align-items: center;
        font-size: 30px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
}

/* about section */
#about {
    width: 100%;
    height: 150vh;
}
.item1{
    height: 108vh;
    width: 45%;
}
.aboutcontainer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.item1:first-child{
    background-image: url(./IMG_2410.JPG);
    background-size: cover;
}

@media screen and (max-width:700px) {
    #about {
        height: 260vh;
    }
    .aboutcontainer{
        flex-direction: column;
        padding: 5% 5%;
    }
    .item1{
        width: 90%;
        margin-bottom: 10px;
    }
    .item1:first-child{
        background-size: cover;
    }

    }
    @keyframes afeez {
        0%{background-color: #42c2f5;}
        25%{background-color: gold;}
        50%{background-color: black;}
        75%{background-color: purple;}
    }

/* service section */
#services {
    height: 100vh;
    width: 100%;
}

.servicecontainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.item3 {
    margin-top: 30px;
    width: 30%;
    height: 50vh;
}
@media screen and (max-width:700px){
    #services{
        height: 180vh;
    }
    .servicecontainer{
        flex-direction: column;
    }
    .item3{
        width: 90%;
        padding: 5%;
        padding: 5%;
    }
    hr{
        display: none;
    }


/* portfoilo section */
#portfolio{
    height: 90vh;
    width: 100%;
}
.portcontainer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.item6{
    height: 50vh;
    width: 30%;
    background-image: url(./imm.jpg);
    
}
@media screen and (max-width:700px) {
    #portfolio{
        height: 166vh;
    }
    .portcontainer{
        flex-direction: column;
    }
    .item6{
        padding: 5% 5%;
        width: 90%;
        margin-top: 10px;
    }
}
}

/* Resume section */
#resume {
    height: 100vh;
    width: 100%;
}

.resumecontainer {

    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.item4 {
    margin-top: 30px;
    height: 70vh;
    width: 30%;
}

.item4:first-child {
    background-image: url(./IMG_2410.JPG);
    background-size: cover;
    border: 4px solid black;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}
@media screen and (max-width:700px) {
    #resume {
        height: 200vh;
        width: 100%;
    }
    .resumecontainer{
        flex-direction: column;
    }
    .item4{
        width: 90%;
        padding: 5% 5%;
    }
}

/* blog section */
#blog {
    height: 50vh;
    width: 100%;
}

.blogcontainer {
    display: flex;
    justify-content: space-evenly;
}

.item7 {
    margin-top: 50px;
    width: 40%;
    height: 40vh;
}

@media screen and (max-width:700px) {
    #blog {
        height: 100vh;
        width: 100%;
    }
    .blogcontainer {
        flex-direction: column;
    }
    .item7 {
        width: 90%;
        padding: 5% 5%;
    }
}

/* contact section */
#contact {
    height: 60vh;
    width: 100%;
}

.contactcontainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.item8 {
    width: 40%;
    height: 50vh;

}
.btn6{
    background-color: black;
    color: white;
}
.btn6:hover{
    color: rgb(60, 36, 36);
}
@media screen and (max-width:700px) {
    #contact {
        height: 140vh;
        width: 100%;   
    }
    .contactcontainer {
        flex-direction: column;
    }
    .item8{
        width: 90%;
        padding: 5% 5%;
        bottom: 10px;
    }
    .item8:last-child{
        margin-top: 40vh;
    }
}
